@font-face {
  font-family: 'PTSerifWebBoldItalic';
  src: url('../fonts/PT-Serif_Bold-Italic.woff2') format('woff2'),
    url('../fonts/PT-Serif_Bold-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerifWebBold';
  src: url('../fonts/PT-Serif_Bold.woff2') format('woff2'),
    url('../fonts/PT-Serif_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerifWebCaptionRegular';
  src: url('../fonts/PT-Serif_Caption-Regular.woff2') format('woff2'),
    url('../fonts/PT-Serif_Caption-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerifWebRegular';
  src: url('../fonts/PT-Serif_Regular.woff2') format('woff2'),
    url('../fonts/PT-Serif_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
