body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  min-width: 500px;
  font-family: 'PTSerifWebRegular';
}

header {
  background-image: url('../img/header_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  max-height: 500px;
}

.ak-contacts {
  font-family: 'PTSerifWebCaptionRegular';
  &__line {
    a {
      color: black;
      transition: color 0.3s ease-in-out;
      text-decoration: none;

      &:hover {
        color: gray;
        text-decoration: underline;
      }
    }
  }
}

.ak-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__link {
    display: flex;
    margin-left: 0.3em;
  }
  &__icon {
    max-width: 2em;
  }
}

.ak-main-label {
  &__advokat-label {
    color: #b37e00;
    letter-spacing: 5px;
    font-weight: bold;
  }

  &__name {
    font-weight: bold;
  }

  &__sub-title {
    text-align: center;
  }
}

main {
  .ak-main {
    &__map {
      background-image: url('../img/map.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;

      .ak-address {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: white;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(90deg, #ffffff 29%, #cacaca 71%);
  .ak-footer {
    display: flex;
    align-items: center;
    height: 50px;
    &__label {
      font-size: 18px;
    }
  }
}

// MOBILE PHONE
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  header {
    max-height: 500px;
    height: 500px;
  }

  .ak-main-label {
    margin-top: 3em;
    &__advokat-label {
      margin-bottom: 1rem;
      font-size: 2em;
    }

    &__name {
      font-size: 2.4em;
      letter-spacing: 3px;
      line-height: 1.5em;
    }

    &__sub-title {
      font-size: 1.1rem;
      letter-spacing: 2px;
    }
  }

  .ak-contacts {
    margin-top: 4.5em;
    .ak-phone {
      font-size: 1.5rem;
    }
    .ak-email {
      font-size: 1.2rem;
    }
    &__line {
      line-height: 2.5rem;
      letter-spacing: 3px;
    }
  }

  .ak-social {
    justify-content: center;
    &__link {
      display: flex;
      margin: 0 2em;
    }
    &__icon {
      max-width: 3em;
    }
  }

  main {
    .ak-main {
      &__map {
        height: 500px;
        .ak-address {
          font-size: 1.1rem;
          line-height: 1.4em;
          text-align: center;
        }
      }
    }
  }
}

// TABLET (SM)
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 15px;
  }

  header {
    height: 350px;
    max-height: 350px;
    .ak-central-img {
      max-width: 70%;
    }
  }

  .ak-main-label {
    margin-top: 3em;
    &__advokat-label {
      margin-bottom: 1rem;
      font-size: 2em;
    }

    &__name {
      font-size: 2.4em;
      letter-spacing: 3px;
      line-height: 1.5em;
    }

    &__sub-title {
      font-size: 1.1rem;
      letter-spacing: 2px;
    }
  }

  .ak-contacts {
    margin-top: 1em;
    .ak-phone {
      font-size: 1rem;
    }
    .ak-email {
      font-size: 0.8rem;
    }
    &__line {
      line-height: 2rem;
      letter-spacing: 3px;
    }
  }

  main {
    .ak-main {
      &__map {
        height: 500px;
        .ak-address {
          font-size: 1.1rem;
          line-height: 1.4em;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }

  .ak-contacts {
    font-size: 1.3rem;
    &__line {
      font-weight: bold;
      line-height: 2.5rem;
      letter-spacing: 3px;
    }
  }

  .ak-central-img {
    max-width: 70%;
    width: 70%;
  }

  .ak-main-label {
    margin-top: 5em;
    &__advokat-label {
      font-size: 1.7rem;
    }

    &__name {
      font-size: 2.6rem;
      letter-spacing: 8px;
    }

    &__sub-title {
      font-size: 25px;
    }
  }

  main {
    .ak-main {
      &__map {
        height: 500px;
      }
    }
  }

  .ak-contacts {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}
